* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}


:root {
  --primary-bg: #f2f9f1;
  --primary-lt: #2f5241;
  --secondary-lt: #373331;
  --secondary-bg: #bfe9db;

}

@font-face {
  font-family: "Inter Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/inter:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  font-family: sans-serif;
  background-color: var(--primary-bg);
  color: var(--primary-lt);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.6;
  margin-bottom: 90px;
}

main,
section {
  width: auto;
  margin: 0 auto;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.2;
  text-wrap: balance;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--text-primary);
}

h3+p {
  text-wrap: balance;
  margin-bottom: 2rem;
}

svg {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--primary-lt);
}


header {
  border-bottom: 1px solid var(--primary-lt);
  background: var(--primary-bg);
  padding: .5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin: 0;
  align-self: stretch;

  svg {
    width: 20px;
    height: 15px;
    margin-right: 10px;
    vertical-align: middle;
  }
}

header div a {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--secondary-bg);
  color: var(--secondary-lt);
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.2s;

  &:hover {
    transform: scale(0.95);

  }
}


nav {
  align-items: center;
  gap: 1rem;
  display: flex;

  a {
    text-decoration: none;
    color: var(--text-secondary);
    transition: color 0.2s;
    font-weight: 500;

    &:hover {
      color: var(--primary);
      outline: none;
    }
  }
}



.imagen {
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    mask-image: linear-gradient(to bottom,
        rgba(16, 25, 34, 1) 5%,
        rgba(16, 25, 34, 0) 80%);
  width: 100%;
  position: relative;
  margin: auto;
  }


/**/

.texto2,.texto1 {
  height: 45%;
  display: flex;
  text-align: center;
  justify-content: space-between;

  h3+svg {
    padding-top: 3px;
  }

  article {
    background-color: var(--secondary-bg);
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
    align-items: right;
    margin: 0;


    svg {
      color: var(--primary-lt);
      background: rgba(0, 153, 255, .3);
      width: 64px;
      height: 64px;
      border-radius: 100%;
      padding: 16px;
    }

    p {
      color: var(--secondary-lt);
    }

    h3 {
      font-weight: 700;
    }
  }
}



.texto {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: -90px;
}


.texto1 {
  margin-top: -40px;
  width: 80%;
}

.texto2 {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-content: center;
  margin: auto;
  gap: 5rem;
}

/*Aquí empieza el "leer más" del segundo párrafo*/

.extra {
  display: none;
}

input[type="checkbox"] {
  height: 1em;
  display: block;
  appearance: none;
}

label {
  position: relative;
  color: var(--secondary-lt);
  font-style: italic;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background: var(--primary-bg);
    border-radius: 0.25rem;
    padding: 0.25rem;
  }

}

label::before {
  content: "Leer más";

}

input[type="checkbox"]:checked~label::before {
  content: "Leer menos";
}


.dots:has(~input[type="checkbox"]:checked) {
  display: none;
}

.extra:has(~input[type="checkbox"]:checked) {
  display: block;
  text-wrap: balance;
  margin-bottom: 2rem;
}